body {
	background-color: #ededed;
}

.container {
	background-color: white;
	padding-bottom: 20px;
}

.header-gol {
	background-color: #363535;
	border-radius: 25px;
	color: white;
}

.page-header {
	margin-top: 10px
}

.labels {
	margin-top: 6px;
}

.ctrls-container {
	margin-top: 10%;
	margin-left: 30%;
}

.model-buttons {
	width: 85%;
	margin-top: 5px;
}
